{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block nav_links %}
    {{ logged_in ? '<li><a href="/">Home</a></li>' : ''}}
    <li class="active"><a href="#">Dashboard</a></li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                {{ logged_in ? '<a class="list-group-item" href="/">Return to homepage</a>' : ''}}
                <a class="list-group-item" href="practice">Practice with bot</a>
                <a class="list-group-item" href="rooms">Rooms</a>
                {{ logged_in ? '<a class="list-group-item" href="logout">Logout</a>' : ''}}
                {{ not logged_in ? '<a class="list-group-item" href="register">Register</a>' : ''}}
            </div>
        </div><!-- /.col-sm-4 -->
    </div>

</div> <!-- /container -->
{% endblock %}
