{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/js-vendor/tienvx/chessboardjs/css/chessboard-0.3.0.min.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/board.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}
<div class="container">
    <h2>You ({{ color }}) vs Opponent ({{ color == 'white' ? 'black' : 'white' }})</h2>

    <p>Status: <span id="status"></span></p>

    <div id="board"></div>

    <div class="btn-group">
        <a class="btn btn-danger" href="{{ path('leave_room') }}">Leave room</a>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var chess_start_position = '{{ start_position }}';
    var chess_orientation = '{{ color }}';
    var chess_highlights = '{{ highlights }}';
</script>
<script src="/js-vendor/tienvx/jquery/jquery-1.11.1.min.js"></script>
<script src="/js-vendor/tienvx/bootstrap/js/bootstrap.min.js"></script>
<script src="/js-vendor/tienvx/chessjs/chess.min.js"></script>
<script src="/js-vendor/tienvx/autobahnjs/autobahn.min.js"></script>
<script src="/js-vendor/tienvx/chessboardjs/js/chessboard-0.3.0.min.js"></script>
<script src="/resources/js/chess.js"></script>
<script src="/resources/js/chess-remote.js"></script>
<script src="/resources/js/chess-play.js"></script>
{% endblock %}
