{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block stylesheets %}
<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="js-vendor/tienvx/chessboardjs/css/chessboard-0.3.0.min.css" rel="stylesheet" media="screen" />
<link href="resources/css/board_highlight.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}
<div class="container">

    <div id="board" style="width: 400px"></div>
    <p>Status: <span id="status"></span></p>

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-start {{ started ? 'disabled' : ''}}">Start</button>
        <button type="button" class="btn btn-default btn-stop" {{ not started ? 'disabled' : ''}}>Stop</button>
        <button type="button" class="btn btn-default btn-restart {{ not started ? 'disabled' : ''}}">Restart</button>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var chess_start_position = '{{ start_position }}';
    var chess_orientation = '{{ color }}';
    var chess_turn = '{{ turn }}';
    var chess_highlights = '{{ highlights }}';
</script>
<script src="js-vendor/tienvx/jquery/jquery-1.11.1.min.js"></script>
<script src="js-vendor/tienvx/autobahnjs/autobahn.min.js"></script>
<script src="js-vendor/tienvx/chessboardjs/js/chessboard-0.3.0.min.js"></script>
<script src="resources/js/chess.js"></script>
<script src="resources/js/game-buttons.js"></script>
{% endblock %}
