{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block stylesheets %}
<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="js-vendor/tienvx/chessboardjs/css/chessboard-0.3.0.min.css" rel="stylesheet" media="screen" />
<link href="resources/css/board.css" rel="stylesheet" media="screen" />
<link href="resources/css/homepage.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}
<div class="container">
    <h2>Player Name</h2>

    <p>Status: <span id="status"></span></p>

    <div id="board" style="width: 400px"></div>

    <div class="btn-group game-buttons">
        <button type="button" class="btn btn-primary btn-start" {{ started ? 'disabled="disabled"' : ''}}>Start</button>
        <button type="button" class="btn btn-warning btn-stop" {{ (not started) ? 'disabled="disabled"' : ''}}>Stop</button>
        <button type="button" class="btn btn-warning btn-restart" {{ (not started) ? 'disabled="disabled"' : ''}}>Restart</button>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var chess_start_position = '{{ start_position }}';
    var chess_orientation = '{{ color }}';
    var chess_turn = '{{ turn }}';
    var chess_highlights = '{{ highlights }}';
</script>
<script src="js-vendor/tienvx/jquery/jquery-1.11.1.min.js"></script>
<script src="js-vendor/tienvx/autobahnjs/autobahn.min.js"></script>
<script src="js-vendor/tienvx/chessboardjs/js/chessboard-0.3.0.min.js"></script>
<script src="resources/js/chess.js"></script>
<script src="resources/js/game-buttons.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
{% endblock %}
