{% if paginator.numpages > 1 %}
<nav>
    <ul class="pagination">
        {% if paginator.currentpage > 1 %}
            <li><a href="{{ path(route, {  'page': paginator.currentpage-1 }) }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for i in 1..paginator.numpages %}
            {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}

            {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                {% if i==paginator.currentpage %}
                    <li class="active"><a href="{{ path(route, {  'page': i })}}">{{i}}</a></li>
                {% else %}
                <li><a href="{{ path(route, {  'page': i }) }}"> {{i}}</a></li>
                {% endif %}
            {% endif %}

            {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.currentpage < paginator.numpages %}
            <li><a href="{{ path(route, {  'page': paginator.currentpage + 1 }) }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
