{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link href="/js-vendor/tienvx/bootstrap/js/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/register.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="container">

      <form action="{{ path('register') }}" method="post" {{ form_enctype(form) }} class="form-register" role="form">
        <h2 class="form-register-heading">Please register</h2>
        {{ form_errors(form) }}

        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'placeholder': 'Your name', 'class': 'form-control'} }) }}

        <div class="checkbox">
            {{ form_errors(form.auto_join) }}
            {{ form_widget(form.auto_join) }}
            {{ form_label(form.auto_join) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
