{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <div class="container">

      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if rooms is empty %}
              <a href="{{ path('create_room') }}">Create Room</a>
        {% else %}
            {% set inroom = false %}
            {% for room in rooms %}
            <tr>
              <td>{{ room.id }}</td>
              {% if (room.players[0]) %}
                <td>{{ (room.players[0]).name }} ({{ (room.players[0]).color }}{{ (room.players[0]).started ? ' - started' : '' }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              {% if (room.players[1]) %}
                <td>{{ (room.players[1]).name }} ({{ (room.players[1]).color }}{{ (room.players[1]).started ? ' - started' : '' }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
              {% if player not in room.players and not player.room and room.players|length < 2 %}
                <a href="{{ path('join_room', { 'room': room.id }) }}">Join</a>
              {% elseif player in room.players and player.room %}
                <span>Current Room</span>
                {% set inroom = true %}
              {% endif %}
              {% if room.players[0].started and room.players[1].started %}
                <a href="{{ path('watch_game', { 'room': room.id }) }}">Watch</a>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% if inroom %}
        <div class="btn-group game-buttons">
            <a class="btn btn-primary" href="/">Go To Current Room</a>
            <button type="button" class="btn btn-danger btn-leave">Leave Current Room</button>
        </div>
    {% endif %}

    {% set vars = {'route': 'rooms', 'paginator': paginator} %}
    {% include 'paginator.html.twig' with vars %}

    </div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script src="/js-vendor/tienvx/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/js/game-buttons.js"></script>
{% endblock %}
