{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <div class="container">

      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if rooms is empty %}
              <a href="{{ path('create_room') }}">Create Room</a>
        {% else %}
            {% for room in rooms %}
            <tr>
              <td>{{ room.id }}</td>
              {% if (room.players|first).started %}
                <td>{{ (room.players|first).name }} ({{ (room.players|first).color }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              {% if (room.players|last).started %}
                <td>{{ (room.players|last).name }} ({{ (room.players|last).color }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td><a href="{{ path('join_room', { 'room': room.id }) }}">Join</a></td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>

    {% set vars = {'route': 'rooms', 'paginator': paginator} %}
    {% include 'paginator.html.twig' with vars %}

    </div> <!-- /container -->
{% endblock %}
