{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
    <div class="container">

      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if rooms is empty %}
              <a href="{{ path('create_room') }}">Create Room</a>
        {% else %}
            {% for room in rooms %}
            <tr>
              <td>{{ room.id }}</td>
              {% if (room.players[0]) %}
                <td>{{ (room.players[0]).name }} ({{ (room.players[0]).color }}{{ (room.players[0]).started ? ' - started' : '' }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              {% if (room.players[1]) %}
                <td>{{ (room.players[1]).name }} ({{ (room.players[1]).color }}{{ (room.players[1]).started ? ' - started' : '' }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
              {% if player not in room.players and not player.room %}
                <a href="{{ path('join_room', { 'room': room.id }) }}">Join</a>
              {% endif %}
              {% if room.players[0].started and room.players[1].started %}
                <a href="{{ path('watch_game', { 'room': room.id }) }}">Watch</a>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>

    {% set vars = {'route': 'rooms', 'paginator': paginator} %}
    {% include 'paginator.html.twig' with vars %}

    </div> <!-- /container -->
{% endblock %}
