{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block nav_links %}
    {% if logged_in %}
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/register">Register</a></li>
    {% endif %}
    <li class="active"><a href="/rooms">Rooms</a></li>
    <li><a href="/practice">Practice</a></li>
{% endblock %}

{% block body %}
    <div class="container">

      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if rooms is empty %}
        {% else %}
            {% set inroom = false %}
            {% for room in rooms %}
            <tr>
              <td>{{ room.id }}</td>
              {% if (room.players[0]) %}
                <td>{{ (room.players[0]).name }} ({{ (room.players[0]).color }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              {% if (room.players[1]) %}
                <td>{{ (room.players[1]).name }} ({{ (room.players[1]).color }})</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
              {% if player not in room.players and not player.room and room.players|length < 2 %}
                <a href="{{ path('join_room', { 'room': room.id }) }}">Join</a>
              {% elseif player in room.players and player.room %}
                <span>Current Room</span>
                {% set inroom = true %}
              {% endif %}
              {% if room.players[0] and room.players[1] %}
                <a href="{{ path('watch_game', { 'room': room.id }) }}">Watch</a>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
        <div class="btn-group">
            {% if inroom %}
                <a class="btn btn-primary" href="/">Go to your room</a>
                <a class="btn btn-danger" href="{{ path('leave_room') }}">Leave room</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('create_room') }}">Create room</a>
            {% endif %}
        </div>

    {% set vars = {'route': 'rooms', 'paginator': paginator} %}
    {% include 'paginator.html.twig' with vars %}

    </div> <!-- /container -->
{% endblock %}
